body {
  width: 100%;
  margin: 0;

}

* {
    box-sizing: border-box;
}

h1,
h2,
h4 {
  margin: 0;
  color: #2a3a7f;
  font-family: 'Roboto',
    sans-serif;
}

h3 {
  font-family: 'Roboto',
    sans-serif;
  color: #2a3a7f;
}

h5{
  font-family: 'Roboto', sans-serif;
  font: 30px;
}

p,
li {
  font-family: 'Montserrat',
    sans-serif;

}

.line{

  color:red;
  font-weight: 900;
}

/* .line::after {
    content: '';
    height: 10px;
    width: 10px;
    position: relative;
    float: left;
    right: 295px;
    top: 8.4px;
    border-radius: 50%;
    background: red;
} */

.date {
  display: inline-flex;
}

.discriptionApp {
  margin-top: 20px;
  font-family: 'Roboto',
    sans-serif;
  
}

.Container {
  width: 100%;
}

header {
  width: 100%;
  display: flex
}

/*header*/
#sarah {
  height: 150px;
  border-radius: 100%;
  border: 5px solid white;
  border-radius: 180%;
  display: inline-flex;
  float: right;
 
}



#coloredPencils {
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: -10;
  display: flex;
  float: left;
}

.aboutMe {
  position: relative;
  right: 250px;
  top: 30px;
}

.aboutMeText {
  position: relative;
  right: 100px;
  display: block;
}

.topIcons {
  display: inline-flex;
  height: 80px;
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
}

.btn {

  width: 39px;
  height: 39px;
  display: inline-block;
  border-radius: 42px;
  border: 2px solid #FA382F;
  opacity: 1;
  font-size: 20px;
  cursor: pointer;
  margin: 4px;
  background: scroll;

}

.btn1 {
  width: 69px;
  height: 69px;
  display: inline-block;
  border-radius: 42px;
  border: 2px solid #FA382F;
  opacity: 1;
  font-size: 20px;
  cursor: pointer;
  margin: 4px;
  background: scroll;
}

.btn1 img {
  width: 60%;
}


.icons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.sarah {
  position: relative;
  top: 13vh;
}


.introText p{
  padding: 20px;
}



/*text*/
.introText {
  background: #F4F4F4;
  text-align: center;
  height: 350px;
  text-align: left;
  font-size: 20px;
  margin: 20px;
  

}

.project2{
     margin-left: 20px;
   }

   .otherthoughts{
     padding: 20px
   }

   .articleText{
     padding: 20px;
   }
.otherProjects{
  padding: 20px;
}

.mythoughts {
  background: #FA382F;
  text-align: center;
  font: Bold 22px/27px Montserrat;
  color: #FFFFFF;
  display: inline-block;
  width: 250px;
  margin-left: 55px;
  margin-top: 100px;
}

.block {
  background: #FA382F;
  text-align: center;
  font: Bold 22px/27px Montserrat;
  color: #FFFFFF;
  display: block;
  width: 150px;
 margin-left: auto;
  margin-right: auto;
  padding: 10px; 

}
#skillsBlock{
  text-align: center;
    padding: 12px;
    margin-bottom: 20px;
}


.techText {
  padding: 24px;
  text-align: center;
  height: 200px;
  text-align: center;
  font-size: 20px;
}

.block {
  margin-top: 30px;
}

#demoPic {
  width: 100%;
}

.codes {
  display: flex;
  margin: 10px;
}

.tag{
  background: #FDDFE7;
  text-align: center;
  width: 74px;
  height: 17px;
  text-align: center;
  letter-spacing: 0;
  color: #2B2E34;
  font-size: 10px;
 font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
  margin-right: 5px;
}


.skillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  height: 400px;
    padding: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align-last: left;
}

.projectLink p{
  text-align: center;
}
.comingSoon{
  text-align: center;
}

#articlePic {
  padding-top: 20px;
  height: 200px;
  margin-right: 43px;
}

.articleText {
  font-family: sans-serif;
  margin: 0;
}

.articleText p{
      width: 300px;
}

.projectPic img {

    height: 50%;
    height: 250px;
    object-fit: cover;
    padding-top: 20px;
}

.aboutMeText{
  top: 50px;
}

.outerContainer {
  width: 100%
}

.articlePic {
  width: 100%;
  margin: 40px;
}

.articleImage
{
  justify-content: center;
  display: flex;
}

#justLaugh{
  width: 80vw;
  height: 200px;
  object-fit: cover;
}

.contactInfo h5{
  margin: 0;
  font-size: 20px;
}

.container2 {
 
    padding-top: 30px;
}



.otherProjects,
h2 {
 
  text-align: center;
}


.otherthoughts h5{
  text-align: center;
  color: #FA382F;
  font-size: 20px;
}

.app1 {
  margin-top: 30px;
}

.code ul,
.toolbox ul {
  list-style: none;
  padding: 0;
  margin-right: 35px;
  text-align: center;
}

.upcoming ul,
.more ul {
  list-style: none;
  padding: 0;
  text-align: center;

}



.skills h4 {
  text-align: center;
}

footer {
  text-align: center;
  height: 270px;
  text-align: center;
  background: #2a3a7f;
  color: white;

}

footer h2 {
  color: #FFFFFF;
  margin-top: 30px;
  padding: 20px;
}

footer p {
  margin: 0;
}

@media screen and (min-width: 650px) {
header{
  height: 55vh;
}
#sarah{
  height: 200px;
}
.sarah{
 right: 2vh;
 top: 8vh;
}
.aboutMe{
     right: 44vw;
}

.introText{
  display: flex;
    align-items: center;
    padding: 30px;
}
   .aboutMeText{
     float: left;
    right: 50vw;
   }
   
   .aboutMeText h1{
     font-size: 55px;
   }

   .aboutMeText h3{
     font-weight: bold;
    font-size: 30px;
    margin: 0;
   }

   .aboutMeText h4{
     font-size: 25px;
   }

   .topIcons {
    right: 40px;
        top: 70px;
   }

   .btn{
       width: 69px;
    height: 69px;
   }

   .imgBtn{
     width: 70%;
   }

   .wrapper{
     display: flex;
     margin: 20px;
     justify-content: center;
     background:#f4f4f4;
     padding: 40px;
     
   }
   .project2{
     margin-left: 20px;
   }

   .projectLink {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    top: 144%;
    right: 22%;
}


.projectLink a, h5{
color: white;
text-align: center;
text-decoration: none;
}

.projectLink:hover 
{
  display: block;
  
}

   .otherProjects{
     align-content: center; 
    text-align: left;
    padding: 20px;
    background:#f4f4f4;
        margin: 20px;
   }

   .skillsContainer{
     margin: 20px;
   }

   article {
     display: inline-block;
   }

  
   .otherthoughts{
         padding: 5vw;

   }
   .techText{
     padding: 8vh;
   }

   #justLaugh {
    width: 300px;
    height: 200px
  }

}


@media screen and (min-width: 1000px) {



.sarah{
top: 0;
right: 35px;

}

#sarah{
  height: 250px;
}

.aboutMeText{
  right: 40vw;
}

.introText p {
    
    text-align: center;
       margin: 0;
    padding: 100px;
}

.techText{
padding: 50px;
width: 900px;
text-align: center;
margin: auto;
}

.otherthoughts{
  padding: 8vw;
 display: inline;
flex-direction: column;
}

.wrapper{
  padding: 70px;
  margin-top: 50px;
}


.app,
.app1,
.app2,
.app3 
{
display: block;
padding-left: 12vw;
}

 article{
   display: flow-root;
 }
.article{
 display: flex;
    justify-content: center  
}
.articleText{
  width: 400px;
  padding-bottom: 50px;  

}
.otherProjects{
      padding: 40px 40px 70px;
}


.otherProjects h2{
  margin: 40px 40px;
  text-align: center;
    padding: 40px;
}
.discription{
  display: inline-block;
    margin-left: 30vw;
    text-decoration: underline;
}

.linkContainer{
text-align: center;
position: relative;
}
.project2{
  width: 400px;
  max-width: 1000px;
}

.ProjectPic img
{
height: 300px;
 opacity: 0.7;
}


.skills{
  justify-content: space-evenly;
  padding-top: 70px;
}

.icons{
  padding: 30px;
}
.topIcons{
  right: 20px;
}

 #justLaugh {
   margin-right: 45px;
    padding-top: 20px;
  }

}