* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
  font-family: "Roboto", sans-serif;
  text-align: -webkit-center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: lowercase;
  margin: 5px 0;
  font-size: 40px;
  color: #2a3a7f;
}

h2 {
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  background: red;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 30px 0;
  display: inline-flex;
  justify-content: center;
}
.h2-style-project {
  margin-left: 5%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  margin: 10px 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

:focus {
  outline: 2px solid pink;
  outline-offset: 3px;
  border-radius: 5px;
}

header {
  background-image: url("assets/abstract2.jpg");
  background-size: cover;
  background-position: top left;
  color: #fff;
  height: 500px;
}

.header-wrapper {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
}

.social-links-btn {
  position: absolute;
  top: 70px;
  right: 10%;
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
}

.social-links-btn a {
  margin-left: 10px;
}

.btn {
  border: 3px solid #fa382f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-img {
  width: 16px;
}

.header-info {
  width: 75%;
  position: absolute;
  top: 170px;
  left: 10%;
}

header h4 {
  color: #2a3a7f;
  letter-spacing: 1.2px;
  font-size: 13px;
  font-weight: 300;
  margin: 5px 0;
}

.highlight {
  font-weight: 1000;
  font-size: larger;
}

header h3 {
  color: #2a3a7f;
  text-transform: lowercase;
  margin-top: 0;
}

figure {
  width: 160px;
  position: absolute;
  margin: 0;
  top: 360px;
  right: 10%;
}

.profile-pic {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 100%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper-grey {
  background: #f4f2f0;
  margin: 1%;
}

.summary,
.tech,
.featured-projects,
.other-projects,
.my-thoughts,
.more-thoughts,
.skills,
.more {
  padding: 50px 10%;
  max-width: 1100px;
  margin: 0 auto;
}
.tech {
  text-align: center;
}
.tech p {
  font-family: "Montserrat", sans-serif;
}
.more {
  max-width: 900px;
}

.summary p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.line-dot {
  height: 3px;
  width: 50px;
  background: red;
  position: relative;
  float: left;
  top: 12px;
  margin-right: 10px;
}

.line-dot::after {
  content: "";
  height: 10px;
  width: 10px;
  position: relative;
  float: right;
  top: -3px;
  right: -1px;
  border-radius: 50%;
  background: red;
}

.projects {
  display: grid;
  grid-template-columns: 50fr;
  grid-template-rows: auto;
  grid-gap: 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.project-card-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #000;
  position: absolute;
  align-self: center;
  top: 25%;
}

.project-card-img {
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  width: 100%;
  height: 180px;
}

#happy-thought {
  background-image: url(assets/HappyThought.png);
}
#todo {
  background-image: url(assets/todo.jpg);
  background-position: center top;
}

#music-site {
  background-image: url(assets/screenshot\2020-01-15\at\21.21.47.png);
  opacity: 0.5;
}

#movie-site {
  background-image: url(assets/React-Movie-Project.png);
  opacity: 0.5;
}

#buddha {
  background-image: url(assets/buddha.jpg);
}

#sause {
  background-image: url(assets/sause.png);
}

#todoRedux {
  background-image: url(assets/todoRedux.png);
}

.more-thoughts-card {
  text-align: center;
}
.project-card-text {
  margin: 15px 0;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
}

.text-h {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.project-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tag {
  padding: 3px 6px;
  display: inline-block;
  background: #fddfe7;
  color: #111111;
  margin-right: 5px;
  font-size: 12px;
}

.other-projects {
  padding-top: 0;
}

.other-project-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.thoughts-flex {
  margin-top: 10px;
}

.thought-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
}

.thought-card p {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}

.thought-card-img {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}

.thought-headline {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.thought-card-text {
  margin: 15px 0;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
  margin: 5px 0 15px 0;
}

.more-thoughts {
  padding-top: 0;
}

.more-thoughts-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.more-thoughts-text {
  font-size: 17px;
  line-height: 1.5;
  color: black;
}

.skill-box-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px 0;
}

li {
  font-size: 17px;
  line-height: 1.5;
}

.more-links-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.more-links {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-links-wrapper p {
  font-size: 11px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin-top: 10px;
}

.btn-more {
  border: 3px solid red;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-more-img {
  width: 32px;
}

footer {
  margin: 0;
  background: #2a3a7f;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  height: 10%;
}

footer h3 {
  color: #fff;
}

footer h4,
footer p {
  color: #fff;
  margin: 8px 0;
}

.email {
  color: #fff;
}

.credit {
  font-size: 9px;
  color: #fff;
  margin-top: 10px;
}

@media (min-width: 640px) and (max-width: 666px) {
  .header-info {
    width: 50%;
  }

  .project-card {
    width: 45%;
  }

  .project-card-img {
    height: 550px;
  }

  .tag {
    font-size: 12px;
  }

  .projects {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: auto auto;
    grid-gap: 100px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 17px;
  }

  .btn {
    width: 80px;
    height: 80px;
  }

  .btn-img {
    width: 24px;
  }

  .header-info {
    width: 45%;
  }

  header h4 {
    font-size: 16px;
  }

  figure {
    width: 220px;
    top: 300px;
  }
  .projects {
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: auto auto;
    grid-gap: 100px;
  }
  .thoughts-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .thought-card {
    width: 45%;
  }

  .skill-box-inner-left {
    width: 30%;
  }

  .skill-box-inner-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }

  .skill-box {
    width: 50%;
  }

  .btn-more {
    width: 80px;
    height: 80px;
  }

  .btn-more-img {
    width: 48px;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 23px;
  }

  p {
    font-size: 21px;
  }

  .btn {
    width: 80px;
    height: 80px;
  }

  .btn-img {
    width: 24px;
  }

  .header-info {
    width: 37%;
  }

  header h4 {
    font-size: 28px;
  }

  figure {
    width: 220px;
    top: 300px;
  }
  .projects {
    display: grid;
    grid-template-columns: 100fr 100fr;
    grid-template-rows: auto auto;
    grid-gap: 100px;
  }
  .thoughts-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .thought-card {
    width: 45%;
  }

  .thought-card p {
    font-size: 20px;
  }

  .thought-card-text {
    font-size: 20px;
  }

  .skill-box-inner-left {
    width: 30%;
  }

  .skill-box-inner-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }

  .skill-box {
    width: 50%;
  }

  li {
    font-size: 21px;
  }

  .btn-more {
    width: 120px;
    height: 120px;
  }

  .btn-more-img {
    width: 48px;
  }

  .more-links-wrapper p {
    font-size: 17px;
  }
}
