body {
  width: 100%;
  margin: 0;

}

html {
  margin: 0;
}

h1,
h2,
h4 {
  margin: 0;
  color: #2a3a7f;
  font-family: 'Roboto',
    sans-serif;
}

h3 {
  font-family: 'Roboto',
    sans-serif;
  color: #2a3a7f;

}

p,
li {
  font-family: 'Montserrat',
    sans-serif;

}

.line{

  color: #b1597f;
  font-weight: 900;
}
}

.date {
  display: inline-flex;
}

.discriptionApp {
  margin-top: 20px;
  font-family: 'Roboto',
    sans-serif;
  ;
}

.Container {
  width: 100%;
}

header {
  width: 100%;
  display: flex
}

/*header*/
#sarah {
  height: 150px;
  border-radius: 100%;
  border: 5px solid white;
  border-radius: 180%;
  display: inline-flex;
  float: right;
 
}



#coloredPencils {
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: -10;
  display: flex;
  float: left;
}

.aboutMe {
  position: relative;
  right: 250px;
}

.aboutMeText {
  position: relative;
  right: 100px;
  display: block;
}

.topIcons {
  display: inline-flex;
  height: 80px;
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
}

.btn {

  width: 39px;
  height: 39px;
  display: inline-block;
  border-radius: 42px;
  border: 2px solid #FA382F;
  opacity: 1;
  font-size: 20px;
  cursor: pointer;
  margin: 4px;
  background: scroll;

}

.btn1 {
  width: 69px;
  height: 69px;
  display: inline-block;
  border-radius: 42px;
  border: 2px solid #FA382F;
  opacity: 1;
  font-size: 20px;
  cursor: pointer;
  margin: 4px;
  background: scroll;
}

.btn1 img {
  width: 60%;
}


.icons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.sarah {
  position: relative;
  top: 13vh;
}



/*text*/
.introText {
  background: #F4F4F4;
  padding: 30px;
  text-align: center;
  height: 300px;
  text-align: left;
  font-size: 20px;
  margin: 20px;

}



.mythoughts {
  background: #FA382F;
  text-align: center;
  font: Bold 22px/27px Montserrat;
  color: #FFFFFF;
  display: inline-block;
  width: 250px;
  margin-left: 55px;
  margin-top: 100px;
}

.block {
  background: #FA382F;
  text-align: center;
  font: Bold 22px/27px Montserrat;
  color: #FFFFFF;
  display: block;
  width: 150px;
 margin-left: auto;
  margin-right: auto;
  padding: 10px; 

}



.techText {
  padding: 24px;
  text-align: center;
  height: 200px;
  text-align: center;
  font-size: 20px;
}

.block {
  margin-top: 30px;
}

#demoPic {
  width: 100%;
}

.codes {
  display: flex;
  margin: 10px;
}

.css,
.html {
  background: #FDDFE7;
  text-align: center;
  width: 74px;
  height: 17px;
  color: wheat;
  text-align: center;
  letter-spacing: 0;
  color: #2B2E34;
  font-size: 10px;
  margin-right: 5px;

}

.Javascript {
  background: #FDDFE7;
  text-align: center;
  width: 74px;
  height: 17px;
  color: wheat;
  text-align: center;
  letter-spacing: 0;
  color: #2B2E34;
  font-size: 10px;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  height: 340px;
 padding: 8vw;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align-last: left;
}

#articlePic {
  margin: 35px;

  height: 200px;
}

.articleText {
  font-family: sans-serif;
  margin: 0;
}

.projectPic img {

    height: 50%;
    height: 250px;
    object-fit: cover;
}


.outerContainer {
  width: 100%
}

.articlePic {
  width: 100%;
  margin: 40px;
}


.Container1 {
  text-align: -webkit-center;

}

.container2 {
 
    padding-top: 30px;
}



.otherProjects,
h2 {
 
  text-align: center;
}

.app1 {
  margin-top: 30px;
}

.code ul,
.toolbox ul {
  list-style: none;
  padding: 0;
  margin-right: 35px;
  text-align: center;
}

.upcoming ul,
.more ul {
  list-style: none;
  padding: 0;
  text-align: center;

}



.skills h4 {
  text-align: center;
}

footer {
  text-align: center;
  height: 270px;
  text-align: center;
  background: #2a3a7f;
  color: white;

}

footer h2 {
  color: #FFFFFF;
  margin-top: 30px;
  padding: 20px;
}

footer p {
  margin: 0;
}

@media screen and (min-width: 650px) {
header{
  height: 55vh;
}
#sarah{
  height: 200px;
}
.sarah{
 right: 2vh;
 top: 8vh;
}
.aboutMe{
     right: 35vw
}
   .aboutMeText{
     float: left;
    right: 50vw;
   }
   
   .aboutMeText h1{
     font-size: 55px;
   }

   .aboutMeText h3{
     font-weight: bold;
    font-size: 30px;
    margin: 0;
   }

   .aboutMeText h4{
     font-size: 25px;
   }

   .topIcons {
    right: 40px;
        top: 70px;
   }

   .btn{
       width: 69px;
    height: 69px;
   }

   .imgBtn{
     width: 70%;
   }

   .introText p{
     padding: 35px;
   }

    .introText {
    height: 20vh;
    padding-top: 5vh;
    padding: 8vh;
   }

  
   .wrapper{
     display: flex;
     margin: 20px;
     justify-content: center;
     background:#f4f4f4;
     padding: 40px;
     
   }
   .project2{
     margin-left: 20px;
   }

   .otherProjects{
     align-content: center; 
    text-align: left;
    padding: 20px;
    background:#f4f4f4;
        margin: 20px;
   }

   .skillsContainer{
     margin: 20px;
   }

   article {
     display: flex;
   }

   .article{
     align-self: center;
   }
   .otherthoughts{
         padding: 5vw;

   }
   .techText{
     padding: 8vh;
   }

}


@media screen and (min-width: 1000px) {


.otherthoughts{
  padding: 8vw;
  justify-content: center;
  align-content: center;
}
.sarah{
top: 0;
}
#sarah{
  height: 250px;
}

.aboutMeText{
  right: 40vw;
}

.introText p {
    padding: 100px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.techText{
padding: 50px;
width: 900px;
text-align: center;
margin: auto;
}

.app1,
.app2,
.app3 {
display: inline-block;
}

.otherProjects{
      text-align: center;
}

article{
  justify-content: center;
  display: inline-flex;
}
.discription{
  display: inline-block;
    margin-left: 30vw;
    text-decoration: underline;
}

.linkContainer{
text-align: center;
position: relative;
}

.projectLink {
    position: absolute; 
    width: 100%;
    bottom: 150px; 
    text-align: center;
    font-size: xx-large;
    
  
}
.projectLink a{
color: white;
}

.projectLink:hover 
{
  display: block;
  
}

.ProjectPic:hover
{
opacity: 0.2;
filter:grayscale(50%);
}

}